<%- include("../includes/head")%>
<section class="mx-auto">
    <a href="/">Go Back Home</a>
    <h1 class="title">Register a new account!</h1>
    <form action="/signup" method="POST">
        <div>
            <label for="email">Enter Email</label>
            <input type="email" name="email" id="email" />
        </div>
        <div>
            <label for="password">Enter Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <button>Create Account</button>
    </form>
</section>
<%- include("../includes/foot")%>
